.navbar_wrapp {
    background-color: #fff;
    position: sticky;
    z-index: 100;
    top: 0;
    left: 0;
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
}
.navbar {
    @extend %flex-c-s;
    flex-wrap: wrap;
    &_nav {
        margin-right: 15px;
        width: 600px;
        @extend %flex-c-s;
        height: 60px;
        &_link {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                bottom: -15px;
                right: 0;
                background-color: transparent;
                width: 100%;
                height: 5px;
                transition: .2s background-color;
            }
            &:hover::before {
                background-color: #FF9900;
                transition: .4s background-color;
            }
        }
    }
    &_container {
        @extend %flex-2c;
        height: 60px;
        &_support {
            font-size: 15px;
            font-weight: 500;
            cursor: pointer;
            width: 155px;
            height: 40px;
            border: 1px solid #FF9900;
            color: #FF9900;
            border-radius: 5px;
            background-color: transparent;
            margin-right: 15px;
            transition: background-color .2s;
            &:hover {
                color: #fff;
                background-color: #FF9900;
                transition: all .2s;
            }
        }
        &_inner {
            @extend %flex-2c;
            &_shopCard {
                margin-right: 15px;
                &_price {
                    font-size: 15px;
                    font-weight: 400;
                }
                &_product {
                    font-size: 15px;
                    font-weight: 500;
                }
            }
            &_basket {
                cursor: pointer;
                @extend %flex-2c;
                width: 100px;
                height: 40px;
                overflow: hidden;
                background-color: #FF9900;
                border-radius: 5px;
                img {
                    width: 30px;
                    height: 30px;
                }
                &:hover img {
                    transform: rotate(10deg);
                }
            }
        }
    }
}