.container_sauces {
    padding: 0 10px;
   
    .sauces_title {
        @extend %flex-2c;
        text-align: center;
        font-weight: 400;
        font-size: 38px;
        height: 100px;
    }
    .sauces_inner {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .sauces {
            width: 300px;
            height: 320px;
            margin: 10px 5px;
            border-radius: 10px;
            border: 1px solid #D0D0D0;
            &_img {
                margin: 0 auto;
                width: 210px;
                height: 210px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            &_name {
                margin-top: 5px;
                text-align: center;
                font-size: 18px;
                font-weight: 600;
                color: #000;
            }
            &_wrapp {
                margin: 0 auto;
                margin-top: 25px;
                @extend %flex-c-s;
                width: 200px;
                height: 30px;
                &_price {
                    width: 85px;
                    height: 30px;
                    font-size: 500;
                    font-size: 21px;
                }
                &_basket {
                    cursor: pointer;
                    background-color: transparent;
                    width: 85px;
                    height: 30px;
                    border: 1px solid #FF9900;
                    border-radius: 5px;
                    font-size: 13px;
                    font-weight: normal;
                    color: #FF9900;
                    @extend %flex-2c;
                    &:hover {
                        transition: all .2s;
                        background-color: #FF9900;
                        color: #fff;
                    }
                }
            }
        }
    }
}