.basketPizza {
    padding: 0 5px;
    margin: 0 auto;
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &_item {
        padding: 5px 10px;
        border: 2px solid #cdcdcd;
        border-radius: 10px;
        margin: 10px 0px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        &_wrapp {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &_img {
                width: 90px;
                height: 90px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            &_name {
                max-width: 250px;
                margin-left: 10px;
                font-size: 18px;
                font-weight: 500;
            }
            &_size {
                max-width: 50px;
                margin-left: 10px;
                font-size: 18px;
                font-weight: 400;
            }
            &_sauce {
                max-width: 100px;
                margin-left: 10px;
                font-size: 18px;
                font-weight: 400;
            }
            &_number {
                font-size: 18px;
                font-weight: 500;
            }
        }
        &_funBlock {
            margin-left: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            &_price {
                font-size: 20px;
                font-weight: 500;

            }
        }
    }
    }