@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
.overheader_stock, .overheader_phone, .overheader_work, .container_pizza .inner_pizza .pizza_choice, .container_combo .inner_combo .combo_choice, .wrapp_contacts .contacts_social_phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar_container, .navbar_container_inner, .navbar_container_inner_basket, .container_pizza .title_pizza, .container_pizza .inner_pizza .pizza_wrapp, .container_pizza .inner_pizza .pizza_size_text, .container_combo .title_combo, .container_combo .inner_combo .combo_wrapp, .container_snacks .snacks_title, .container_snacks .snacks_inner .snacks_size_btn, .container_snacks .snacks_inner .snacks_wrapp_basket, .container_desserts .desserts_title, .container_desserts .desserts_inner .desserts_wrapp_basket, .wrapp_contacts .contacts_main_phone, .wrapp_contacts .contacts_main_time, .wrapp_contacts .contacts_main_mail, .wrapp_contacts .contacts_social_links, .wrapp_contacts .contacts_social_phone_logos, .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overheader, .navbar, .navbar_nav, .container_pizza .inner_pizza .pizza_size, .container_pizza .inner_pizza .pizza_addCheese, .container_pizza .inner_pizza .pizza_price, .container_combo .inner_combo .combo_addCheese, .container_combo .inner_combo .combo_price, .container_snacks .snacks_inner .snacks_size, .container_snacks .snacks_inner .snacks_wrapp, .container_desserts .desserts_inner .desserts_wrapp, .wrapp_contacts .contacts, .wrapp_contacts .contacts_main, .wrapp_contacts .info, .wrapp_contacts .info_wrapp, .wrapp_contacts .address, .payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

a {
  color: #000;
  text-decoration: none;
}

.section {
  margin: 50px 0px;
}

.overheader {
  margin-bottom: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.overheader_logo {
  display: block;
  width: 90px;
  height: 90px;
}

.overheader_logo_img {
  width: 100%;
  height: 100%;
}

.overheader_stock {
  width: 200px;
  height: 90px;
}

.overheader_stock_time {
  font-size: 45px;
  font-weight: 500;
}

.overheader_stock_text {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}

.overheader_phone {
  width: 115px;
  height: 90px;
}

.overheader_phone_number {
  font-size: 48px;
  font-weight: 500;
}

.overheader_phone_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overheader_phone_inner_img {
  margin-right: 5px;
}

.overheader_work {
  width: 250px;
  height: 90px;
}

.overheader_work_text {
  font-size: 32px;
  font-weight: 500;
}

.overheader_work_time {
  font-size: 18px;
  font-weight: 500;
}

.navbar {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbar_nav {
  margin-right: 15px;
  width: 600px;
  height: 60px;
}

.navbar_nav_link {
  position: relative;
}

.navbar_nav_link::before {
  content: '';
  position: absolute;
  bottom: -15px;
  right: 0;
  background-color: transparent;
  width: 100%;
  height: 5px;
  -webkit-transition: .2s background-color;
  transition: .2s background-color;
}

.navbar_nav_link:hover::before {
  background-color: #FF9900;
  -webkit-transition: .4s background-color;
  transition: .4s background-color;
}

.navbar_container {
  height: 60px;
}

.navbar_container_support {
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  width: 155px;
  height: 40px;
  border: 1px solid #FF9900;
  color: #FF9900;
  border-radius: 5px;
  background-color: transparent;
  margin-right: 15px;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

.navbar_container_support:hover {
  color: #fff;
  background-color: #FF9900;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.navbar_container_inner_shopCard {
  margin-right: 15px;
}

.navbar_container_inner_shopCard_price {
  font-size: 15px;
  font-weight: 400;
}

.navbar_container_inner_shopCard_product {
  font-size: 15px;
  font-weight: 500;
}

.navbar_container_inner_basket {
  cursor: pointer;
  width: 100px;
  height: 40px;
  overflow: hidden;
  background-color: #FF9900;
  border-radius: 5px;
}

.navbar_container_inner_basket img {
  width: 30px;
  height: 30px;
}

.navbar_container_inner_basket:hover img {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.container_pizza {
  padding: 0 10px;
}

.container_pizza .title_pizza {
  height: 100px;
  font-size: 38px;
  font-weight: 400;
}

.container_pizza .inner_pizza {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container_pizza .inner_pizza .pizza {
  margin: 10px 5px;
  position: relative;
  width: 300px;
  height: 610px;
  border-radius: 10px;
  border: 1px solid #D0D0D0;
}

.container_pizza .inner_pizza .pizza_info {
  display: block;
  cursor: pointer;
  width: 50px;
  height: 20px;
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 14px;
  font-weight: 400;
  color: #B6B6B6;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_pizza .inner_pizza .pizza_info:hover {
  color: #616161;
  border: 1px solid #616161;
}

.container_pizza .inner_pizza .pizza_wrapp {
  margin: 0 auto;
  width: 210px;
  height: 210px;
  margin-top: 35px;
}

.container_pizza .inner_pizza .pizza_wrapp_img {
  width: 100%;
  height: 100%;
}

.container_pizza .inner_pizza .pizza_name {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

.container_pizza .inner_pizza .pizza_composition {
  color: #878686;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  margin-top: 5px;
  width: 238px;
  height: 100px;
}

.container_pizza .inner_pizza .pizza_size {
  margin: 0 auto;
  width: 210px;
  height: 35px;
  background-color: #DCDCDC;
  border-radius: 5px;
}

.container_pizza .inner_pizza .pizza_size_text {
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
  width: 105px;
  height: 35px;
  font-size: 16px;
  font-weight: 400;
}

.container_pizza .inner_pizza .pizza_size .active_size {
  border: 1px solid #000;
  background-color: #fff;
}

.container_pizza .inner_pizza .pizza_addCheese {
  cursor: pointer;
  padding: 0 10px;
  width: 270px;
  height: 30px;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid #DCDCDC;
  border-radius: 5px;
  background-color: transparent;
}

.container_pizza .inner_pizza .pizza_addCheese_plus {
  width: 20px;
  height: 20px;
}

.container_pizza .inner_pizza .pizza_addCheese_plus img {
  width: 100%;
  height: 100%;
}

.container_pizza .inner_pizza .pizza_addCheese_text {
  line-height: 30px;
  height: 30px;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}

.container_pizza .inner_pizza .pizza_addCheese_price {
  font-size: 15px;
  font-weight: 500;
}

.container_pizza .inner_pizza .pizza_choice {
  margin-top: 15px;
  margin-bottom: 25px;
}

.container_pizza .inner_pizza .pizza_choice_title {
  height: 31px;
  line-height: 31px;
  font-size: 14px;
  font-weight: 400;
  color: #878686;
}

.container_pizza .inner_pizza .pizza_choice_select {
  border: 1px solid #FF9900;
  width: 200px;
  height: 30px;
  border-radius: 8px;
  background-color: transparent;
  outline: none;
}

.container_pizza .inner_pizza .pizza_price {
  margin: 0 auto;
  width: 200px;
  height: 30px;
}

.container_pizza .inner_pizza .pizza_price_text {
  width: 85px;
  height: 30px;
  font-size: 500;
  font-size: 21px;
}

.container_pizza .inner_pizza .pizza_price_addBasket {
  cursor: pointer;
  background-color: transparent;
  width: 85px;
  height: 30px;
  border: 1px solid #FF9900;
  border-radius: 5px;
  font-size: 13px;
  font-weight: normal;
  color: #FF9900;
}

.container_pizza .inner_pizza .pizza_price_addBasket:hover {
  -webkit-transition: all .2s;
  transition: all .2s;
  background-color: #FF9900;
  color: #fff;
}

.container_combo {
  padding: 0 10px;
}

.container_combo .title_combo {
  height: 100px;
  font-size: 38px;
  font-weight: 400;
}

.container_combo .inner_combo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container_combo .inner_combo .combo {
  margin: 10px 5px;
  position: relative;
  width: 300px;
  height: 670px;
  border-radius: 10px;
  border: 1px solid #D0D0D0;
}

.container_combo .inner_combo .combo_info {
  display: block;
  cursor: pointer;
  width: 50px;
  height: 20px;
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 14px;
  font-weight: 400;
  color: #B6B6B6;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_combo .inner_combo .combo_info:hover {
  color: #616161;
  border: 1px solid #616161;
}

.container_combo .inner_combo .combo_wrapp {
  margin: 0 auto;
  width: 210px;
  height: 210px;
  margin-top: 40px;
}

.container_combo .inner_combo .combo_wrapp_img {
  width: 100%;
  height: 100%;
}

.container_combo .inner_combo .combo_name {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

.container_combo .inner_combo .combo_composition {
  color: #878686;
  text-align: center;
  margin: 5px auto;
  font-size: 14px;
  width: 238px;
  height: 90px;
}

.container_combo .inner_combo .combo_addCheese {
  cursor: pointer;
  padding: 0 10px;
  width: 270px;
  height: 30px;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid #DCDCDC;
  border-radius: 5px;
  background-color: transparent;
}

.container_combo .inner_combo .combo_addCheese_plus {
  width: 20px;
  height: 20px;
}

.container_combo .inner_combo .combo_addCheese_plus img {
  width: 100%;
  height: 100%;
}

.container_combo .inner_combo .combo_addCheese_text {
  line-height: 30px;
  height: 30px;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}

.container_combo .inner_combo .combo_addCheese_price {
  font-size: 15px;
  font-weight: 500;
}

.container_combo .inner_combo .combo_choice {
  margin-top: 10px;
  margin-bottom: 20px;
}

.container_combo .inner_combo .combo_choice_title {
  height: 31px;
  line-height: 31px;
  font-size: 16px;
  font-weight: 400;
  color: #878686;
}

.container_combo .inner_combo .combo_choice_select {
  border: 1px solid #FF9900;
  width: 200px;
  height: 30px;
  border-radius: 8px;
  background-color: transparent;
  outline: none;
}

.container_combo .inner_combo .combo_choice .select_two {
  margin-bottom: 10px;
}

.container_combo .inner_combo .combo_price {
  margin: 0 auto;
  width: 200px;
  height: 30px;
}

.container_combo .inner_combo .combo_price_text {
  width: 85px;
  height: 30px;
  font-size: 500;
  font-size: 21px;
}

.container_combo .inner_combo .combo_price_addBasket {
  cursor: pointer;
  background-color: transparent;
  width: 85px;
  height: 30px;
  border: 1px solid #FF9900;
  border-radius: 5px;
  font-size: 13px;
  font-weight: normal;
  color: #FF9900;
}

.container_combo .inner_combo .combo_price_addBasket:hover {
  -webkit-transition: all .2s;
  transition: all .2s;
  background-color: #FF9900;
  color: #fff;
}

.container_snacks {
  padding: 0 10px;
}

.container_snacks .snacks_title {
  text-align: center;
  font-weight: 400;
  font-size: 38px;
  height: 100px;
}

.container_snacks .snacks_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container_snacks .snacks_inner .snacks {
  width: 300px;
  height: 430px;
  margin: 10px 5px;
  border-radius: 10px;
  border: 1px solid #D0D0D0;
}

.container_snacks .snacks_inner .snacks_img {
  margin: 0 auto;
  width: 210px;
  height: 210px;
}

.container_snacks .snacks_inner .snacks_img img {
  width: 100%;
  height: 100%;
}

.container_snacks .snacks_inner .snacks_name {
  margin-top: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

.container_snacks .snacks_inner .snacks_composition {
  color: #878686;
  text-align: center;
  margin: 0 auto;
  font-size: 15px;
  margin-top: 5px;
  width: 238px;
  height: 80px;
}

.container_snacks .snacks_inner .snacks_size {
  margin: 0 auto;
  border-radius: 5px;
  width: 270px;
  height: 35px;
  background-color: #DCDCDC;
}

.container_snacks .snacks_inner .snacks_size_btn {
  border-radius: 5px;
  width: 135px;
  height: 35px;
}

.container_snacks .snacks_inner .snacks_size .active_snacks {
  background-color: #fff;
  border: 1px solid #000;
}

.container_snacks .snacks_inner .snacks_wrapp {
  margin: 0 auto;
  margin-top: 25px;
  width: 200px;
  height: 30px;
}

.container_snacks .snacks_inner .snacks_wrapp_price {
  width: 85px;
  height: 30px;
  font-size: 500;
  font-size: 21px;
}

.container_snacks .snacks_inner .snacks_wrapp_basket {
  cursor: pointer;
  background-color: transparent;
  width: 85px;
  height: 30px;
  border: 1px solid #FF9900;
  border-radius: 5px;
  font-size: 13px;
  font-weight: normal;
  color: #FF9900;
}

.container_snacks .snacks_inner .snacks_wrapp_basket:hover {
  -webkit-transition: all .2s;
  transition: all .2s;
  background-color: #FF9900;
  color: #fff;
}

.container_desserts {
  padding: 0 10px;
}

.container_desserts .desserts_title {
  text-align: center;
  font-weight: 400;
  font-size: 38px;
  height: 100px;
}

.container_desserts .desserts_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container_desserts .desserts_inner .desserts {
  width: 300px;
  height: 350px;
  margin: 10px 5px;
  border-radius: 10px;
  border: 1px solid #D0D0D0;
}

.container_desserts .desserts_inner .desserts_img {
  margin: 0 auto;
  width: 210px;
  height: 210px;
}

.container_desserts .desserts_inner .desserts_img img {
  width: 100%;
  height: 100%;
}

.container_desserts .desserts_inner .desserts_name {
  margin-top: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

.container_desserts .desserts_inner .desserts_composition {
  color: #878686;
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
  margin-top: 5px;
  width: 238px;
  height: 30px;
}

.container_desserts .desserts_inner .desserts_wrapp {
  margin: 0 auto;
  margin-top: 25px;
  width: 200px;
  height: 30px;
}

.container_desserts .desserts_inner .desserts_wrapp_price {
  width: 85px;
  height: 30px;
  font-size: 500;
  font-size: 21px;
}

.container_desserts .desserts_inner .desserts_wrapp_basket {
  cursor: pointer;
  background-color: transparent;
  width: 85px;
  height: 30px;
  border: 1px solid #FF9900;
  border-radius: 5px;
  font-size: 13px;
  font-weight: normal;
  color: #FF9900;
}

.container_desserts .desserts_inner .desserts_wrapp_basket:hover {
  -webkit-transition: all .2s;
  transition: all .2s;
  background-color: #FF9900;
  color: #fff;
}

.about_title {
  color: #212121;
  font-size: 38px;
  font-weight: 500;
}

.about_wrapp {
  margin-top: 20px;
}

.about_wrapp_text {
  color: #585858;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
}

.about_btn {
  cursor: pointer;
  width: 150px;
  height: 45px;
  border-radius: 5px;
  border: none;
  background-color: #FF9900;
  color: #fff;
  font-size: 16px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.about_btn:hover {
  -webkit-transition: all .2s;
  transition: all .2s;
  background-color: #fff;
  color: #FF9900;
  border: 1px solid #FF9900;
}

.wrapp_contacts {
  background-color: #373535;
  padding: 20px 0;
}

.wrapp_contacts .contacts {
  padding: 0 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapp_contacts .contacts_main {
  width: 710px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapp_contacts .contacts_main_phone {
  width: 225px;
  height: 60px;
}

.wrapp_contacts .contacts_main_phone_link {
  font-size: 22px;
  font-weight: 500;
  color: #fff;
}

.wrapp_contacts .contacts_main_phone img {
  margin-right: 10px;
  width: 25px;
  height: 25px;
}

.wrapp_contacts .contacts_main_time {
  width: 190px;
  height: 60px;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
}

.wrapp_contacts .contacts_main_time img {
  margin-right: 10px;
  width: 25px;
  height: 25px;
}

.wrapp_contacts .contacts_main_mail {
  width: 225px;
  height: 60px;
  color: #fff;
}

.wrapp_contacts .contacts_main_mail_link {
  font-size: 22px;
  font-weight: 500;
  color: #fff;
}

.wrapp_contacts .contacts_main_mail img {
  margin-right: 10px;
  width: 25px;
  height: 19px;
}

.wrapp_contacts .contacts_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 230px;
}

.wrapp_contacts .contacts_social_links {
  margin-right: 20px;
}

.wrapp_contacts .contacts_social_links a {
  display: block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.wrapp_contacts .contacts_social_phone {
  position: relative;
}

.wrapp_contacts .contacts_social_phone_text {
  color: #fff;
  font-size: 48px;
  font-weight: 500;
}

.wrapp_contacts .contacts_social_phone_logos {
  position: absolute;
  bottom: -25px;
  left: 0;
}

.wrapp_contacts .info {
  border-top: 1px solid #6d6d6d;
  margin-top: 35px;
}

.wrapp_contacts .info_wrapp {
  padding: 10px 30px;
  width: 680px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapp_contacts .info_wrapp_link {
  font-size: 22px;
  font-weight: 400;
  color: #6d6d6d;
}

.wrapp_contacts .info_wrapp_link:hover {
  color: #fff;
}

.wrapp_contacts .info_pay {
  padding: 10px;
}

.wrapp_contacts .info_pay_link {
  display: block;
  font-size: 16px;
  color: #6d6d6d;
}

.wrapp_contacts .info_pay_link:hover {
  color: #fff;
}

.wrapp_contacts .address {
  padding: 10px 30px;
}

.wrapp_contacts .address_main {
  font-size: 15px;
  color: #6d6d6d;
}

.wrapp_contacts .address_ooo {
  font-size: 15px;
  color: #6d6d6d;
}

.payment {
  padding: 30px 10px;
}

.footer {
  background-color: #373535;
  padding: 20px;
}

.footer_link {
  color: #6d6d6d;
  font-size: 18px;
  font-weight: 400;
}

.footer_link:hover {
  color: #fff;
}

a[title]:hover:after {
  content: attr(title);
}

[data-title] {
  position: relative;
}

[data-title]:after {
  content: attr(data-title);
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  position: absolute;
  top: 2em;
  left: 0;
  padding: 2px 8px;
  font-size: 13px;
  font-weight: 300;
  white-space: wrap;
  color: #fff;
  background-color: #212121;
}

[data-title]:hover:after {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.2s ease-out 0.5s;
  transition: all 0.2s ease-out 0.5s;
}
/*# sourceMappingURL=style.css.map */