@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
.overheader_stock, .overheader_phone, .overheader_work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar_container, .navbar_container_inner, .navbar_container_inner_basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overheader, .navbar_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

.overheader {
  margin-bottom: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.overheader_logo {
  display: block;
  width: 90px;
  height: 90px;
}

.overheader_logo_img {
  width: 100%;
  height: 100%;
}

.overheader_stock {
  width: 200px;
  height: 90px;
}

.overheader_stock_time {
  font-size: 45px;
  font-weight: 500;
}

.overheader_stock_text {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}

.overheader_phone {
  width: 115px;
  height: 90px;
}

.overheader_phone_number {
  font-size: 48px;
  font-weight: 500;
}

.overheader_phone_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overheader_work {
  width: 250px;
  height: 90px;
}

.overheader_work_text {
  font-size: 32px;
  font-weight: 500;
}

.overheader_work_time {
  font-size: 18px;
  font-weight: 500;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar_nav {
  margin-right: 15px;
  width: 600px;
  height: 60px;
}

.navbar_nav_link {
  position: relative;
}

.navbar_nav_link::before {
  content: '';
  position: absolute;
  bottom: -15px;
  right: 0;
  background-color: transparent;
  width: 100%;
  height: 5px;
  -webkit-transition: .2s background-color;
  transition: .2s background-color;
}

.navbar_nav_link:hover::before {
  background-color: #FF9900;
  -webkit-transition: .4s background-color;
  transition: .4s background-color;
}

.navbar_container {
  height: 60px;
}

.navbar_container_support {
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  width: 155px;
  height: 40px;
  border: 1px solid #FF9900;
  color: #FF9900;
  border-radius: 5px;
  background-color: transparent;
  margin-right: 15px;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

.navbar_container_support:hover {
  color: #fff;
  background-color: #FF9900;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.navbar_container_inner_shopCard {
  margin-right: 15px;
}

.navbar_container_inner_shopCard_price {
  font-size: 15px;
  font-weight: 400;
}

.navbar_container_inner_shopCard_product {
  font-size: 15px;
  font-weight: 500;
}

.navbar_container_inner_basket {
  width: 100px;
  height: 40px;
  overflow: hidden;
  background-color: #FF9900;
  border-radius: 5px;
}

.navbar_container_inner_basket img {
  width: 30px;
  height: 30px;
}
/*# sourceMappingURL=style.css.map */