@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
.overheader_stock, .overheader_phone, .overheader_work, .wrapp_contacts .contacts_social_phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar_container, .navbar_container_inner, .navbar_container_inner_basket, .wrapp_contacts .contacts_main_phone, .wrapp_contacts .contacts_main_time, .wrapp_contacts .contacts_main_mail, .wrapp_contacts .contacts_social_links, .wrapp_contacts .contacts_social_phone_logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overheader, .navbar, .navbar_nav, .wrapp_contacts .contacts, .wrapp_contacts .contacts_main, .wrapp_contacts .info, .wrapp_contacts .info_wrapp, .wrapp_contacts .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

.overheader {
  margin-bottom: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.overheader_logo {
  display: block;
  width: 90px;
  height: 90px;
}

.overheader_logo_img {
  width: 100%;
  height: 100%;
}

.overheader_stock {
  width: 200px;
  height: 90px;
}

.overheader_stock_time {
  font-size: 45px;
  font-weight: 500;
}

.overheader_stock_text {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}

.overheader_phone {
  width: 115px;
  height: 90px;
}

.overheader_phone_number {
  font-size: 48px;
  font-weight: 500;
}

.overheader_phone_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overheader_phone_inner_img {
  margin-right: 5px;
}

.overheader_work {
  width: 250px;
  height: 90px;
}

.overheader_work_text {
  font-size: 32px;
  font-weight: 500;
}

.overheader_work_time {
  font-size: 18px;
  font-weight: 500;
}

.navbar {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbar_nav {
  margin-right: 15px;
  width: 600px;
  height: 60px;
}

.navbar_nav_link {
  position: relative;
}

.navbar_nav_link::before {
  content: '';
  position: absolute;
  bottom: -15px;
  right: 0;
  background-color: transparent;
  width: 100%;
  height: 5px;
  -webkit-transition: .2s background-color;
  transition: .2s background-color;
}

.navbar_nav_link:hover::before {
  background-color: #FF9900;
  -webkit-transition: .4s background-color;
  transition: .4s background-color;
}

.navbar_container {
  height: 60px;
}

.navbar_container_support {
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  width: 155px;
  height: 40px;
  border: 1px solid #FF9900;
  color: #FF9900;
  border-radius: 5px;
  background-color: transparent;
  margin-right: 15px;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

.navbar_container_support:hover {
  color: #fff;
  background-color: #FF9900;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.navbar_container_inner_shopCard {
  margin-right: 15px;
}

.navbar_container_inner_shopCard_price {
  font-size: 15px;
  font-weight: 400;
}

.navbar_container_inner_shopCard_product {
  font-size: 15px;
  font-weight: 500;
}

.navbar_container_inner_basket {
  cursor: pointer;
  width: 100px;
  height: 40px;
  overflow: hidden;
  background-color: #FF9900;
  border-radius: 5px;
}

.navbar_container_inner_basket img {
  width: 30px;
  height: 30px;
}

.navbar_container_inner_basket:hover img {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.wrapp_contacts {
  background-color: #373535;
  padding: 20px 0;
}

.wrapp_contacts .contacts {
  padding: 0 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapp_contacts .contacts_main {
  width: 710px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapp_contacts .contacts_main_phone {
  width: 225px;
  height: 60px;
}

.wrapp_contacts .contacts_main_phone_link {
  font-size: 22px;
  font-weight: 500;
  color: #fff;
}

.wrapp_contacts .contacts_main_phone img {
  margin-right: 10px;
  width: 25px;
  height: 25px;
}

.wrapp_contacts .contacts_main_time {
  width: 190px;
  height: 60px;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
}

.wrapp_contacts .contacts_main_time img {
  margin-right: 10px;
  width: 25px;
  height: 25px;
}

.wrapp_contacts .contacts_main_mail {
  width: 225px;
  height: 60px;
  color: #fff;
}

.wrapp_contacts .contacts_main_mail_link {
  font-size: 22px;
  font-weight: 500;
  color: #fff;
}

.wrapp_contacts .contacts_main_mail img {
  margin-right: 10px;
  width: 25px;
  height: 19px;
}

.wrapp_contacts .contacts_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 230px;
}

.wrapp_contacts .contacts_social_links {
  margin-right: 20px;
}

.wrapp_contacts .contacts_social_links a {
  display: block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.wrapp_contacts .contacts_social_phone {
  position: relative;
}

.wrapp_contacts .contacts_social_phone_text {
  color: #fff;
  font-size: 48px;
  font-weight: 500;
}

.wrapp_contacts .contacts_social_phone_logos {
  position: absolute;
  bottom: -25px;
  left: 0;
}

.wrapp_contacts .info {
  border-top: 1px solid #6d6d6d;
  margin-top: 35px;
}

.wrapp_contacts .info_wrapp {
  padding: 10px 30px;
  width: 680px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapp_contacts .info_wrapp_link {
  font-size: 22px;
  font-weight: 400;
  color: #6d6d6d;
}

.wrapp_contacts .info_wrapp_link:hover {
  color: #fff;
}

.wrapp_contacts .info_pay {
  padding: 10px;
}

.wrapp_contacts .info_pay_link {
  display: block;
  font-size: 16px;
  color: #6d6d6d;
}

.wrapp_contacts .info_pay_link:hover {
  color: #fff;
}

.wrapp_contacts .address {
  padding: 10px 30px;
}

.wrapp_contacts .address_main {
  font-size: 15px;
  color: #6d6d6d;
}

.wrapp_contacts .address_ooo {
  font-size: 15px;
  color: #6d6d6d;
}
/*# sourceMappingURL=style.css.map */