@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}


a {
    color: $colorLink;
    text-decoration: none;
}


.colorTheme {
    color: rgb(228, 228, 228);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgb(218, 218, 218);
}

::-webkit-scrollbar-thumb {
    background-color: #FF9900;
}

button:focus {
    border: none;
    outline: none;
}
input {
    outline: none;
}

